components/Streamlit_ver/app/index_data/.gitignore
components/Streamlit_ver/app/index_data/uniApply_rag/index.faiss
components/Streamlit_ver/app/index_data/uniApply_rag/index.pkl
components/Streamlit_ver/app/__pycache__/*
components/Django_ver/app/__pycache__/*