<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scaler=1.0">


    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'UniApply/style.css' %}">
    <link rel="icon"type="image/x-icon" href="{% static 'UniApply/img/UniApplyLogo.ico' %}" >

    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

     <title>UniApply</title>

    <style>
        .right_align{
            text-align: right;
        }
    </style>


</head> 

<body>
     <!-- Trigger button for Pop-up -->
    <button class = "openPopup" id="openPopup">News Update</button>
    
    <h1 >UniApply</h1>

    <!-- Pop-up Window -->
    <div id="popupWindow" class="modal">
        <div class="modal-content">
            <span id="closePopup" class="close">&times;</span>
            <h2>Latest News</h2>
            <h3 ul>
                <li> Multi-lingual is provided </li>
                <li> "News Update" is now online </li>
                <li> New school added </li>
            </h3 ul>
            <br>
            <p class="right_align">latested update date: 2024.01.18</p>
        </div>
    </div>


    <div id="chatbot">
            <p class='botText'><span> Hey, ready to apply to your dream school? </span></p>
        </div>
        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type your message..."/>
            <input type="submit" value="send" id="buttonInput"/>

    </div>

    <script>
        function getUserResponse(){
            var userText = $('#textInput').val();
            var userHTML = "<p class='userText'>User: <span>"+userText+"</span></p>";
                $('#textInput').val("");
                
                $('#chatbot').append(userHTML);
                
                $.get('/UniApply/getResponse', {userMessage:userText}).done(function(data) {
                    var returnedMessage = "<p class='botText'> Chatbot: <span>"+ data +"</span></p>";
                        $('#chatbot').append(returnedMessage);
                })
        }

        $('#buttonInput').click(function() {
            getUserResponse();
        });

        // Get the modal
        var modal = document.getElementById("popupWindow");

        // Get the button that opens the modal
        var btn = document.getElementById("openPopup");

        // Get the <span> element that closes the modal
        var span = document.getElementById("closePopup");

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }





    </script>


  

</body>
</html>